ion-header {
}

ion-content {

  .info {
    display: flex;
    flex-direction: column;

    .movie-title {
      font-size: 20px;
    }

    .genres {
      display: flex;
      flex-direction: row;
    }
  }
}
