<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="movie" class="info">
    <ion-img [src]="movie.backdropPath">
    </ion-img>
    <ion-text class="movie-title">
      {{ movie.title }}
    </ion-text>
    <div class="genres">
      <mojix-tag *ngFor="let genre of movie.genres">
        {{ genre.name }}
      </mojix-tag>
    </div>
    <ion-text class="movie-overview">
      {{ movie.overview }}
    </ion-text>
  </div>
</ion-content>
