<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ng-container *ngIf="movies.length > 0; then list; else empty">
  </ng-container>
  <ng-template #list>
    <ion-list>
      <ion-item *ngFor="let movie of movies" (click)="navigateToDetails(movie)">
        <mojix-movie-card
          [name]="movie.title"
          [summary]="movie.overview"
          [genres]="getGenreNames(movie)"
          [posterUrl]="movie.posterPath"
        >
        </mojix-movie-card>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll #infiniteScroll threshold="100px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Getting more movies">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ng-template>
  <ng-template #empty>
    Omg no movies were found
  </ng-template>
</ion-content>
